<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DefaultPushSource" value="\\longbox\share\NuGetPackages" />
    <add key="repositorypath" value="CAD_Installs" />
  </config>
  <packageSources>
    <add key="build.isis" value="\\longbox\share\NuGetPackages" />
  </packageSources>
</configuration>
