/tonka/generated
/tonka/Release
*.sdf
*.suo
*.opensdf
bin
obj
*.mga
*.vcxproj.user
*.csproj.user
*_result.xml
*_results.xml
Thumbs.db
tonka/models/ACMTestModels/Schematic/acm/
tonka/models/ACMTestModels/Schematic/components/
tonka/models/ACMTestModels/Schematic/log/
tonka/models/ACMTestModels/Schematic/manifest.project.json
tonka/models/ACMTestModels/Schematic/requirements/
tonka/models/ACMTestModels/SystemC/acm/
tonka/models/ACMTestModels/SystemC/components/
tonka/models/ACMTestModels/SystemC/log/
tonka/models/ACMTestModels/SystemC/manifest.project.json
tonka/models/ACMTestModels/SystemC/requirements/
tonka/models/DriveLine_v3/
tonka/src/LayoutSolver/Release/
tonka/src/remote_execution/node_modules/
tonka/src/remote_execution/passwords.json
tonka/src/remote_execution/sessions.json
tonka/models/PulseOxy/dashboard/
tonka/models/PulseOxy/log/
META/models/Hull_and_Hook/log/
tonka/models/PulseOxy/results/
# see "also How to manage projects under Version Control Systems" https://intellij-support.jetbrains.com/entries/23393067
**/.idea/workspace.xml
**/.idea/tasks.xml
META/src/CyPhyMLAPI/Debug/
META/src/UdmComparator/Debug/
tonka/src/RectangleBinPack/MaxRectsBinPack/Release/
tonka/src/RectangleBinPack/RectangleBinPack/Release/
tonka/src/nuget/gecode-vc100.4.2.1/build/native/lib/Win32/v100/
tonka/src/nuget/gecode-vc100.4.2.1/build/native/lib/x64/v100/
tonka/src/nuget/jsoncpp-vc100.0.5.0-r20140114/build/native/lib/Win32/v100/Debug/json_vc100_libmdd.lib
tonka/src/nuget/jsoncpp-vc100.0.5.0-r20140114/build/native/lib/Win32/v100/Release/json_vc100_libmd.lib
tonka/src/nuget/jsoncpp-vc100.0.5.0-r20140114/build/native/lib/x64/v100/Debug/json_vc100_libmdd.lib
tonka/src/nuget/jsoncpp-vc100.0.5.0-r20140114/build/native/lib/x64/v100/Release/json_vc100_libmd.lib
tonka/src/TestBenchExecutor/*.pyc
tonka/src/TestBenchExecutor/log/
tonka/src/TestBenchExecutor/test_tb_manifest_fail_tmp.json
tonka/src/TestBenchExecutor/test_tb_manifest_tmp.json
tonka/models/SchematicTestModel/log/
tonka/models/SchematicTestModel/output/
tonka/test/ConnectorUnrollTest/Model/log/
tonka/models/SystemC/PulseOxyApp/Debug_USB/
tonka/models/SystemC/PulseOxyApp/Release_USB/
tonka/test/CyPhy2MfgBomTest/model/
tonka/models/PulseOxy/config/
tonka/models/PulseOxy/designs/
tonka/models/PulseOxy/export_for_dashboard_scoring.py
tonka/models/PulseOxy/index.html
tonka/models/PulseOxy/manifest.project.json
tonka/models/PulseOxy/requirements/
tonka/models/PulseOxy/stats/
tonka/models/PulseOxy/test-benches/
tonka/models/ValueFlowTest/log/
META/deploy/chipfit_display.wxi
META/deploy/Android.wxi
tonka/_NCrunch_tonka/
*.ncrunchproject
*.ncrunchsolution
tonka/tonka.ncrunchsolution.user
META/models/DynamicsTeam/WaterPump/
tonka/test/*_result.xml.html
META/deploy/TestBenchExecutor.wxi
META/deploy/SpiceVisualizer.wxi
META/meta/CyPhyML/*.mta
META/test/InterchangeTest/ComponentInterchangeTest/ImportTestModels/OrganizeByCategory/
tonka/src/spice_viewer/*.pyc
META/models/DesignSpace/components/
META/models/DesignSpace/tmp/
UpgradeLog.htm
META/test/InterchangeTest/ComponentInterchangeTest/SharedModels/CompCadMetric/Imported_Components/
META/test/InterchangeTest/ComponentInterchangeTest/SharedModels/CyberModel/Export.acm
META/test/InterchangeTest/ComponentInterchangeTest/SharedModels/CyberModel/log/
META/test/InterchangeTest/ComponentInterchangeTest/SharedModels/CyberModel/requirements/
META/test/InterchangeTest/DesignInterchangeTest/ExportTestModels/DupIDs/DupProps.adm
META/test/InterchangeTest/DesignInterchangeTest/ExportTestModels/Layout/DesignContainer.adm
META/test/InterchangeTest/DesignInterchangeTest/ExportTestModels/Layout/log/
META/test/InterchangeTest/DesignInterchangeTest/ExportTestModels/ValueFlow/CustomFormula.adm
META/test/InterchangeTest/DesignInterchangeTest/ExportTestModels/ValueFlow/DC_CustomFormula.adm
META/test/InterchangeTest/DesignInterchangeTest/ExportTestModels/ValueFlow/DC_FlowToComponentInstance.adm
META/test/InterchangeTest/DesignInterchangeTest/ExportTestModels/ValueFlow/DC_FlowToDesignContainer.adm
META/test/InterchangeTest/DesignInterchangeTest/ExportTestModels/ValueFlow/DC_SimpleFormula.adm
META/test/InterchangeTest/DesignInterchangeTest/ExportTestModels/ValueFlow/FlowBetweenComponentInstances.adm
META/test/InterchangeTest/DesignInterchangeTest/ExportTestModels/ValueFlow/FlowToComponentInstance.adm
META/test/InterchangeTest/DesignInterchangeTest/ExportTestModels/ValueFlow/FlowToSubAsm.adm
META/test/InterchangeTest/DesignInterchangeTest/ExportTestModels/ValueFlow/Parameters.adm
META/test/InterchangeTest/DesignInterchangeTest/ExportTestModels/ValueFlow/SimpleFormula.adm
META/test/InterchangeTest/DesignInterchangeTest/ExportTestModels/ValueFlow/SimpleFormula_OpTypes.adm
META/test/InterchangeTest/DesignInterchangeTest/ExportTestModels/ValueFlow/SubAsmFlowToComponentInstance.adm
META/test/InterchangeTest/DesignInterchangeTest/ExportTestModels/ValueFlow/log/
META/test/InterchangeTest/DesignInterchangeTest/ExportTestModels/ValueFlow/testbench_manifest.json
META/test/InterchangeTest/DesignInterchangeTest/ImportTestUnits/ValueFlow/log/
tonka/test/BinPackTest/testfiles/binResult.txt
tonka/test/BinPackTest/testfiles/tb_manifest.no_metrics.json
tonka/test/BinPackTest/testfiles/tb_manifest.old_values.json
tonka/test/SpiceViewerTest/model/schema.log
tonka/test/SpiceViewerTest/model/schema.raw
META/test/InterchangeTest/DesignInterchangeTest/ExportTestModels/Tonka/
META/meta/DesignDataPackage/release/
tonka/test/CyPhy2PCBMfgTest/model/
META/test/InterchangeTest/DesignInterchangeTest/ExportTestModels/
tonka/test/Schematic/SchematicUnitTests/Layout/
tonka/models/ACMTestModels/RF/
tonka/test/CyPhy2RFTest/model/
tonka/models/SchematicTestModel/
